:root {
  --wc-color: #A52A2A;
  --wc-sec-color: #196363;
  --wc-font: Lato, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}

body {
  font-family: var(--wc-font);
}

a {
  opacity: 0.85;
}

a:hover {
  opacity: 1;
  color: var(--wc-color);
}

input::placeholder {
  color: rgb(185, 184, 184) !important;
}

input:focus {
  border: 1px solid var(--wc-sec-color) !important;
}

header,
footer,
.wc-bg {
  background: var(--wc-color);
  color: white;
}

/* World Citizen custom styling */
.wc-color {
  color: var(--wc-color);
}

.wc-btn, .wc-sec-bg {
  background: var(--wc-sec-color);
}

.wc-btn-outline {
  border: 1px solid var(--wc-sec-color);
  color: var(--wc-sec-color);
}

.wc-btn:hover,
.wc-btn-outline:hover {
  background: #144e4e;
  color: white;
}

.wc-border {
  border: 1px solid var(--wc-color);
}

.wc-box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.wc-portrait {
  height: 7em;
  width: 7em;
}

.wc-about-bg {
  height: 35vh;
  background: url("https://res.cloudinary.com/djtgw5sv5/image/upload/v1634405531/world%20citizen/about_bg.jpg") center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.726);
  background-blend-mode: soft-light;
  z-index: -1;
}

.wc-about {
  margin-top: -75px;
  z-index: 1;
}

.wc-about-base {
  height: fit-content;
  margin-top: 100px;
}

.wc-form-bg {
  background: url("https://res.cloudinary.com/djtgw5sv5/image/upload/v1634396248/world%20citizen/wc_landing_and_form_pages_background.jpg") center fixed;
  background-size: cover;
  height: fit-content;
}

/* hr */
.wc-hr-line {
  margin: 15px;
  width: 70px;
}
.wc-hr-text {
  top: 3px;
}

.wc-ml-n5 {
  margin-left: -2.8em !important;
  z-index: 100 !important;
}

.wc-dropdown-hover.active {
  background: var(--wc-sec-color);
  color: white;
}

.wc-dropdown-hover:hover {
background: #144e4e;
color: white;
}

.wc-search-item {
  cursor: pointer;
}
.wc-search-item:hover {
  background: #ececec;
}

.wc-search-container {
  display: none;
  z-index: 100;
  font-size: 0.7em;
}

.wc-modal {
  height: 100vh;
  background: rgba(0, 0, 0, 0.904);
  z-index: 10000;
  display: none;
  top: 0;
}

.wc-chatbot {
  bottom: 1em;
  right: 1em;
  z-index: 100;
}

.wc-chatbot-input {
  background: #C54B4B;
}

.wc-chatbot-display {
  min-height: 200px;
  background: #DCC9C9;
}

#chatBox {
  display: none;
}

.style-node {
  background: var(--wc-sec-color);
  border-radius: 10px;
  padding: 0.3em;
  color: white;
  width: fit-content;
  border-top-right-radius: 0;
  margin-bottom: 0.1em;
  float: right;
  clear: both;
}


.word-break {
  word-break: break-all;
}

p {
  opacity: 0.85;
}

.navbar {
  background: #C54B4B;
}

.rounded-start {
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}

.rounded-end {
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}

input[type="search"]::placeholder {
  color: rgb(201, 201, 201);
}

input[type="checkbox"]:checked {
  background-color: var(--wc-sec-color);
}

section.onboarding {
  background: url("https://res.cloudinary.com/djtgw5sv5/image/upload/v1634396248/world%20citizen/wc_landing_and_form_pages_background.jpg") center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.726);
  background-blend-mode: soft-light;
  min-height: 90vh;
}

#eye {
  display: none;
}

#selectCenter {
  display: none;
}

*:focus {
  outline: gray solid 1px !important;
}


@media all and (min-width: 768px) {
.wc-search-container {
  position: absolute;
  right: 2.5em;
  
}

.wc-welcome-font {
  font-size: 2.5em;
}

.wc-portrait {
  height: 9em;
  width: 9em;
}
}

@media all and (min-width: 1024px) {
  .wc-welcome-font {
    font-size: 2.9em;
  }
}

