:root {
  --wc-color: #A52A2A;
  --wc-sec-color: #196363;
  --wc-font: Lato, sans-serif;
}

body {
  font-family: var(--wc-font);
}

header,
footer,
.wc-bg {
  background: var(--wc-color);
  color: white;
}

/* World Citizen custom styling */
.wc-color {
  color: var(--wc-color);
}

.wc-btn, .wc-sec-bg {
  background: var(--wc-sec-color);
}

.wc-btn-outline {
  border: 1px solid var(--wc-sec-color);
  color: var(--wc-sec-color);
}

.wc-btn:hover,
.wc-btn-outline:hover {
  background: #144e4e;
  color: white;
}

.wc-border {
  border: 1px solid var(--wc-color);
}

.wc-box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.wc-portrait {
  height: 10em;
  width: 10em;
}

.wc-card-h {
  height: 300px;
}

.wc-about-bg {
  height: 30vh;
  background: url("../images/sarah-brown-oa7pqZmmhuA-unsplash.jpg") center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.726);
  background-blend-mode: soft-light;
  z-index: -1;
}

.wc-about {
  margin-top: -80px !important;
  z-index: 1 !important;
}

.wc-about-base {
  height: fit-content;
  margin-top: 200px;
}

.wc-about-base img {
  height: 30vh;
}

.wc-form-bg {
  background: url("../images/landing-page.jpg") center fixed;
  background-size: cover;
  height: fit-content;
}

/* hr */
.wc-hr-line {
  margin: 15px;
  width: 70px;
}
.wc-hr-text {
  top: 3px;
}

.wc-ml-n5 {
  margin-left: -2.8em !important;
  z-index: 100 !important;
}

.word-break {
  word-break: break-all;
}

p {
  opacity: 0.85;
}

.navbar {
  background: #C54B4B;
}

.rounded-start {
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}

.rounded-end {
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}

input[type="search"]::placeholder {
  color: rgb(201, 201, 201);
}

section.onboarding {
  background: url("../images/landing-page.jpg") center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.726);
  background-blend-mode: soft-light;
  min-height: 80vh;
}

@media all and (min-width: 1000px) {
  .wc-card-h {
    height: 350px;
  }
}

