$font-stack: lato,
sans-serif;
$primary-color: #A52A2A;
$secondary-color: #008B8B;
$bg-body: #E9CACA;
$bg-card1: #E8C7C7;
$bg-section1: #D47878;
$btn-hover: #007e7e;

@mixin primaryBg {
    background-color: $primary-color;
    color: white;
}

body {
    background-color: $bg-body;
}

p,
address,
a {
    opacity: 0.8;
}

a:hover {
    text-decoration: underline;
    opacity: 1 !important;
}

.btn {
    border-radius: 40px;
    background-color: $secondary-color;
    color: white;
    opacity: 1 !important;
}

.btn:hover {
    background-color: $btn-hover !important;
    color: white;
}

.header,
.primary-bg {
    height: fit-content;
    @include primaryBg;
}

.donation-details {
    .form-control {
        background-color: $bg-body;
        border: 1px solid $primary-color;
        border-radius: 40px;
    }
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    /* Firefox */
    opacity: 0.8;
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

header {
    padding: 3em 5% !important;

    .navbar-brand {
        opacity: 1 !important;
    }

    .custom-navbar {
        background-color: #B94343;
        border-radius: 40px;

        .nav-link {
            font-size: 1.3rem !important;
            opacity: 0.8 !important;

            &.active {
                opacity: 1 !important;
            }

            &:hover {
                opacity: 1 !important;
            }
        }

        .search-input {
            border: 1px solid $bg-body;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            border-right: none;
        }

        button.btn {
            background-color: $primary-color;
            border-radius: 0;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
        }
    }
}



main {
    section {
        padding: 3em 5% !important;
    }

    .onboarding {
        height: 100vh;
        background: url("../images/landing-page.jpg") no-repeat;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.521);
        background-blend-mode: soft-light;
    }

    .card1-bg {
        background-color: $bg-card1;
    }

    .card2-img img {
        height: 200px;
    }

    .card3 img {
        height: 180px;
        width: 180px;
    }

    .card4 img {
        height: 300px;
    }

    .card-img-overlay {
        background-color: rgba(0, 0, 0, 0.459);

    }
}

footer {
    @include primaryBg;

    section {
        padding: 3em 5% !important;
    }
}


// DONATION OPTION PAGE
.option-card {
    background-color: #d478782a;
    opacity: 0.95 !important;
}

//DONATION DETAILS PAGE 


@media screen and (min-width: 576px) {
    main {
        .card2-img img {
            height: 300px;
        }

    }
}

@media screen and (min-width: 1024px) {

    main {
        header {
            padding: 5em 7% !important;
        }

        section {
            padding: 5em 7% !important;
        }

        .card1-bg {
            width: 75%;

            .card-title {
                font-size: 1.5rem;
            }

            .card-text {
                font-size: 1.1rem;
            }
        }

        .card2 {
            .card-title {
                font-size: 2rem;
                line-height: 2em;
            }

            .card-text {
                font-size: 1.3rem;
            }

            .card2-img img {
                height: 500px;
            }
        }

        .card4 {

            img {
                height: 450px;
            }

            h5 {
                font-size: 2rem;
            }

        }

    }

    footer {

        section {
            padding: 5em 7% !important;
        }

        address,
        .nav-link,
        .copyright {
            font-size: 1.3rem;
        }

        .social-nav .nav-link i {
            font-size: 2rem;
        }
    }
}